@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #2C2C2C;
}

:root {
    margin: 0 auto;
}



@font-face {
    font-family: 'f_eb';
    src: url('/src/fonts/NanumSquareEB.ttf');
}

@font-face {
    font-family: 'f_l';
    src: url('/src/fonts/NanumSquareL.ttf');
}

@font-face {
    font-family: 'f_r';
    src: url('/src/fonts/NanumSquareR.ttf');
}

@font-face {
    font-family: 'f_b';
    src: url('/src/fonts/NanumSquareB.ttf');
}

body {
    font-family: 'f_r';
}